{% if site.jquery.main %}
<!-- jQuery -->
<script src="{{ site.baseurl }}{{ site.jquery.main }}"></script>
{% endif %}

{% if site.jquery.easing %}
<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}{{ site.jquery.easing }}"></script>
{% endif %}

{% if site.bootstrap.js %}
<!-- Bootstrap Core JavaScript -->
<script src="{{ site.bootstrap.js }}"></script>
{% endif %}

{% if site.googlemaps %}
<!-- Google Maps API Key -->
<script type="text/javascript" src="{{ site.googlemaps }}"></script>
{% endif %}

{% if site.script %}
<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}{{ site.script }}"></script>
{% endif %}
