{% if site.links or site.foot %}
{% for link in site.navigation.main %}
  {% if link[0] == "Contact" %}
    <a id="contact" href="{{ link[1] }}"></a>
    {% endif %}
{% endfor %}
<!-- Footer -->
<footer>
		<div class="container-fluid text-center">
      <h3>Connect with us below</h3>
			{% include o_svg-icons.html %}
			<p>
				{% for link in site.navigation.foot %}
					{% if link[1] %}
				  	<a href="{{ link[1] }}">{{ link[0] }}</a>
					{% else %}
						{{ link[0] }}
					{% endif %}
				{% endfor %}
			</p>
		</div>
</footer>
{% endif %}
