{% if person.social.twitter %}<a href="http://twitter.com/{{ person.social.twitter }}" target="_blank"><i class="svg-icon fa fa-twitter"></i></a>{% endif %}
{% if person.social.github %}<a href="http://github.com/{{ person.social.github }}" target="_blank"><i class="svg-icon fa fa-github"></i></a>{% endif %}
{% if person.social.facebook %}<a href="http://facebook.com/{{ person.social.facebook }}" target="_blank"><i class="svg-icon fa fa-facebook"></i></a>{% endif %}
{% if person.social.linkedin %}<a href="http://linkedin.com/in/{{ person.social.linkedin }}" target="_blank"><i class="svg-icon fa fa-linkedin"></i></a>{% endif %}
{% if person.social.pinterest %}<a href="http://pinterest.com/{{ person.social.pinterest }}" target="_blank"><i class="svg-icon fa fa-pinterest"></i></a>{% endif %}
{% if person.social.stackoverflow %}<a href="http://stackoverflow.com/{{ person.social.stackoverflow }}" target="_blank"><i class="svg-icon fa fa-stack-overflow"></i></a>{% endif %}
{% if person.social.website %}<a href="{{ person.social.website }}" target="_blank"><i class="svg-icon fa fa-globe"></i></a>{% endif %}
{% if person.social.flickr %}<a href="http://flickr.com/{{ person.social.flickr }}" target="_blank"><i class="svg-icon fa fa-flickr"></i></a>{% endif %}
{% if person.social.instagram %}<a href="http://instagram.com/{{ person.social.instagram }}" target="_blank"><i class="svg-icon fa fa-instagram"></i></a>{% endif %}
