{% if site.links.dribbble %}<a href="http://dribbble.com/{{ site.links.dribbble }}"><i class="svg-icon dribbble"></i></a>{% endif %}
{% if site.links.email %}<a href="mailto:{{ site.links.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.links.facebook %}<a href="http://facebook.com/{{ site.links.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
{% if site.links.flickr %}<a href="http://flickr.com/{{ site.links.flickr }}"><i class="svg-icon flickr"></i></a>{% endif %}
{% if site.links.github %}<a href="http://github.com/{{ site.links.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if site.links.instagram %}<a href="http://instagram.com/{{ site.links.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
{% if site.links.linkedin %}<a href="http://linkedin.com/in/{{ site.links.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.links.pinterest %}<a href="http://pinterest.com/{{ site.links.pinterest }}"><i class="svg-icon pinterest"></i></a>{% endif %}
{% if site.links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>{% endif %}
{% if site.links.twitter %}<a href="http://twitter.com/{{ site.links.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
{% if site.links.irc.channels %}<a target="_blank" href="http://webchat.freenode.net/?nick={{ site.links.irc.nick }}&channels={{ site.links.irc.channels | uri_escape }}&prompt=1&uio=OT10cnVlJjEwPXRydWU3a"><i class="svg-icon irc"></i></a>{% endif %}
{% if site.links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.links.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>{% endif %}
