
//
// VARIABLES
//

//#$panel1-bg: "/img/shutterstock_261477383.jpg";
$panel1-bg: "/img/PANO_20161020_180401-01_sm.jpeg";
//#$panel3-bg: "/img/shutterstock_262394381.jpg"; // "../img/downloads-bg.jpg";
$panel3-bg: "/img/IMG_20180803_173732612_sm.jpg"; // "../img/downloads-bg.jpg";

// Colors
$panel1-bg-tint: rgba(#023232,.3);
$primary: rgba(#50a6ed,.9);
$secondary: rgba(#CD3232, .9);

$clr-selection: rgba($primary,.5);
$clr-selection-bg: rgba($primary,.5);

// Grays  <-- stupid don't name variables a fixed meaning like a color name!  ugh!
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;

// Theme Elements
$clr-navbar: red;
$clr-navbar-link: white;
$clr-navbar-bg: black;
$clr-navbar-border: rgba(255,255,255,.3);
$clr-navbar-border-thickness: 1px;
$clr-navbar-border-type: solid;

$clr-code: rgba(white,1);
$clr-code-bg: rgba($primary,.3);

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}


// Brand Colors
$brand-c1: rgba(#315860, 1); // from sky photo
//$brand-c1-lighter: rgba(#20a9b6, 1);
//$brand-c1-lightest: rgba(#02a5b4, 1);
//$brand-c1-darker: rgba(#01636d, 1);
//$brand-c1-darkest: rgba(#004a51, 1);

// $brand-c2: rgba(#dc9500, 1);
// $brand-c2-lighter: rgba(#ffba2a, 1);
// $brand-c2-lightest: rgba(#ffad00, 1);
// $brand-c2-darker: rgba(#b37900, 1);
// $brand-c2-darkest: rgba(#865b00, 1);
//
// $brand-c3: rgba(#dc0b00, 1);
// $brand-c3-lighter: rgba(#ff342a, 1);
// $brand-c3-lightest: rgba(#ff0d00, 1);
// $brand-c3-darker: rgba(#b30900, 1);
// $brand-c3-darkest: rgba(#860700, 1);
//
// $brand-c4: rgba(#dc6800, 1);
// $brand-c4-lighter: rgba(#ff8e2a, 1);
// $brand-c4-lightest: rgba(#ff7800, 1);
// $brand-c4-darker: rgba(#b35400, 1);
// $brand-c4-darkest: rgba(#863f00, 1);
//
// $brand-primary: $brand-c1;
// $brand-success: #5cb85c;
// $brand-info:    $brand-c2; //dc9500
// $brand-warning: $brand-c4; //dc6800
// $brand-danger:  $brand-c3; //dc0b00
